@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

input:focus {
    outline: 2px solid royalblue;
    box-shadow: 1px 1px 8px 1px royalblue;
  }

  .hidden {
    display: none
  }
  
  .hint {
    color: red;
  }
  
footer a {
  text-decoration: none;
  color: #000;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

