/*----- GOOGLE FONTS -----*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  font-family: 'Open Sans', 'sans-serif';
}

/*----- THEMES -----*/
.theme-default {
  background-color: #ffffff;
  color: #000000;
}

.theme-blue {
  background-color: #3a6596;
  color: #ffffff;
}

input:focus {
    outline: 2px solid royalblue;
    box-shadow: 1px 1px 8px 1px royalblue;
  }
  .hidden {
    display: none
  }
  
/*----- HEADER, NAVBAR -----*/
.afa-navbar, .afa-navbar a {
  padding: 0;
}

nav li {
  color: #ffffff;
  font-size: 1.3rem;
}
nav a {
  color:rgba(256, 256, 256, 256) !important;
}
nav a:hover {
  text-decoration: underline;
}

nav img {
  margin: 0 1em 0 1em;
  height: 3em;
  width: auto;
}

nav li span {
  margin: 0.5em;
}

/*----- FOOTER -----*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #000;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

/*----- BUTTONS -----*/
.btn-home {
  width:100%;
  display:block;
  border-color: #000;
  font-size: 3rem;
}

.btn-contact-submit {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-contact-submit:hover {
  background-color: #000;
  color: #fff ;
}

.btn-contact-clear {
  background-color: #000;
  color: #fff !important;
  
}

.btn-contact-clear:hover {
  background-color: #fff;
  color: #000 !important;
  border: 1px solid #000;
}

/*----FORMS----*/
.form-contact {
  border: 1px solid #000;
}

.contact-container button{
  color: #000;
}

.btn-home:hover {
  background-color: #000;
  color: #ffffff;
}

#themeSelectors button {
  width:100%;
  display:block;
}

/*----- LISTITEMS -----*/
.no-bullet {
  list-style-type: none;
}
