@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*================================== General Styling ==================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; 
}

html,
body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.theme-blue {
  background-color: #3a6596;
  color: #ffffff;
}

.theme-default {
  background-color: #ffffff;
  color: #000000;
}

h3 {
    font-size: 3rem;
}

input {
    border: 1px solid;
}

.btn {
    font-size: 1.4rem;
    height: 4rem;
    width: 60%;
}

* {
  font-family: 'Open Sans', 'sans-serif';

}

input:focus {
    outline: 2px solid royalblue;
    box-shadow: 1px 1px 8px 1px royalblue;
  }

  .hidden {
    display: none
  }
  
  .hint {
    color: red;
  }
  
/* ----------------------------------------- Header and navbar*

>>>>>>> Stashed changes

nav img {
  margin: 0 1em 0 1em;
  height: 3em;
  width: auto;
}

nav li span {
  margin: 0.5em;
}

/* ----------------------------------------- Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #000;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

/* ------------------------------------------ Home page */
.btn-home {
  width:100%;
  display:block;
  border-color: #000;
  font-size: 3rem;
}

.btn-home:hover {
  background-color: #000;
  color: #ffffff;
}