<!-- Sticky footer with fixed navbar -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-6 col-lg-4 text-center footer-text">
                <p>Need Help?</p>
                <p>Call 087123456</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center
                          ">
                <h5 class="text-uppercase footer-text">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#" class="text-white"></a><a href="" target="_blank">
                            Popular Links</a>
                    </li>
                    <li>
                        <a href="#" class="text-white"></a><a href="" target="_blank">Create Profile</a>
                    </li>
                    <li>
                        <a href="#" class="text-white"></a><a href="" target="_blank">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>