<!-- Sticky footer with fixed navbar -->
<footer class="footer mt-auto py-3 text-white bg-dark">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <p>Need Help?</p>
                <div class="col text-center pt-2 lp-contact-link">
                    <i class="fas fa-phone-alt"></i>
                    <a class="text-white" href="tel:555555555"><span>+555555555</span></a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center
                          ">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        
                        <a href="#"></a><a class="text-white" href="" target="_blank">
                            Popular Links</a>
                    </ligi>
                    <li>
                        <a href="{{ url_for('registration') }}" class="text-white"></a><a href="{{ url_for('registration') }}" target="_blank">Create Profile</a>
                    </li>
                    <li>
                        <a href="{{ url_for('login') }}" class="text-white"></a><a href="{{ url_for('login') }}" target="_blank">Log in</a>                        
                    </li>             
                </ul>
            </div>
        </div>
    </div>
</footer>