{% extends 'base.html' %}
{% block content %}
<!----------Main 404 Page Content------->
<nav>      
    {% include 'includes/mobile-nav.html' %}   
       {% include 'includes/main-nav.html' %}  
     </nav>

    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="card justify-content-center px-5 my-5 py-5">
                <div class="card-body justify-content-center">
                    <h3 class="text-center stay-black mt-5">{{ error }}</h3>
                    <h3 class="text-center stay-black mt-5">{{ error_msg }}</h3>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-8 col-md-4 text-center">
                        <a href="{{ url_for('index') }}" class="btn btn-dark"> Home <i
                            class="fas fa-undo"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/hideThemeButtons.js') }}"></script>
{% endblock %}