{% extends 'base.html' %} 
{% block header %}
    {% include 'includes/main-nav.html' %}
{% endblock %}
{% block content %}

        <!-- Section: Log in -->
        <section>
            <div id="login-wrapper" class="container mt-5">
                <div class="row">
                    <div class="col">
                        <h1 class=" d-flex justify-content-center">Log in</h1>
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 col-md-6 col-lg-5 col-xl-4 card p-4">
                        <h2 class="stay-black">Log in to view or edit your profile</h2>
                        {% from "_formhelpers.html" import render_field %}
                        <form method="POST" action="{{ url_for('login') }}"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {{render_field(form.username, class="w-100 mb-3")}}<br>
                            {{ render_field(form.password, class="w-100 mb-3") }}<br>
                            <div class="row">
                            <div class=" col d-flex mt-1 justify-content-center">
                          <button type="submit" class="btn btn-search btn-dark">Log in</button>
                            </div>
                            </div>
                       </form>
                       <p class="mt-2 stay-black">No profile?  <a class="fh-link" href="{{ url_for('registration') }}">Create a profile</a></p>
                       {% if error %}
                       <p class="error"><strong>Error:</strong>{{error}}</p>
                       {% endif %}

                           <!-- <div class="form-group">
                                <label for="loginInput">Username</label>
                                <input type="text" class="form-control" id="loginInput" required>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" class="form-control" id="loginPassword" placeholder="Password" required>
                            </div>-->
                            </div>
                    </div>
                </div>
        </section>
   
    <!--{_for('new_profile_page')}}-->
    {% include 'includes/footer.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/hideThemeButtons.js') }}"></script>
{% endblock %}
