{% extends 'layout/base.html' %} 
{% block content %}

    <main>
        <!-- Section: Log in -->
        <section>
            <div id="login-wrapper" class="container">
                <div class="row">
                    <div class="col">
                        <h1>Log in</h1>
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 col-md-6 col-lg-5 col-xl-4 card p-4">
                        <h3>Log in to view or edit your profile</h3>
                        <form id="login-form">
                            <div class="form-group">
                                <label for="loginInput">Username</label>
                                <input type="text" class="form-control" id="loginInput" required>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" class="form-control" id="loginPassword" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-search">Log in</button>
                        </form>
                        <p class="mt-2">No profile?  <a class="fh-link" href="{{url_for('new_profile_page')}}">Create a profile</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>   
{% endblock %}