{% extends 'base.html' %}
{% block header %}
    {% include 'includes/main-nav.html' %}
{% endblock %} 
{% block content %}


    <!-- Section: Create an account -->
    <section>
        <div id="create-account-wrapper" class="container mt-5">
            <div class="row ">
                <div class="col-12 mt-3">
                    <h1>Create an account</h1>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-11 col-md-6 col-lg-5 col-xl-4 card p-4">
                    <h3 class="stay-black">Create your profile on the Accessibility 4 All portal</h3>

                    <!---------Registration Form--------->
                    {% from "_formhelpers.html" import render_field %}
                    <form method="POST" action="{{ url_for('registration') }}">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    {{render_field(form.username, class="w-100 mb-3")}}<br>
                    {{render_field(form.email, class="w-100 mb-3")}}<br>
                    {{render_field(form.password, class="w-100 mb-3")}}<br>
                        <!--div class="form-group">
                            <label for="newUsername">Username</label>
                            <input id="newUsername" type="text" class="form-control" maxlength="40"
                                aria-label="Enter a username" placeholder="Enter a username" required>
                        </div>
                        <div class="form-group">
                            <label for="newEmailInput">Email address</label>
                            <input id="newEmailInput" type="email" class="form-control" maxlength="40"
                                aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="newPasswordInput">Password</label>
                            <input id="newPasswordInput" type="password" class="form-control" maxlength="20" minlength="8"
                                placeholder="Password" required>
                        </div-->
                        <button id="newAccountSubmit" type="submit" class="btn btn-search btn-dark">Create Profile</button>
                    </form>
                    {% if error %}
                        <p class="error"><strong>Error:</strong>{{error}}</p>
                    {% endif %}
                    <p class="mt-2 stay-black">Already have a profile? <a class="fh-link" href="{{ url_for('login') }}">
                            Log in</a>
                    </p>

                </div>
            </div>
        </div>
    </section>   


{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/hideThemeButtons.js') }}"></script>
{% endblock %}
